*{
    margin:0;
    padding:0;
}
body{
    background: linear-gradient(
        to right,
        rgb(43,9, 43) 50%,
         rgb(253, 251, 251) 50%
         
    );
}
.ultra{
    color:white;
    margin-left: 25px;
    margin-top:12px;
    font-family: poppins,sans-serif;
}

.verify{
    position:absolute;
    left:54%;
    top: 13%;
}
.verify h1{
    color:black;
    font-family: poppins,sans-serif;
}
    
.verify p{
    font-size:20px;
    font-family: poppins,sans-serif;
    color:rgb(107, 101, 101);
}
label{
    margin-top:20%;
    font-size:20px;
    display:block;
    
}
.btn{
    margin-top:20%;
    width:70%;
    height:50px;
    border-style: none;
    border-radius: 9px;
    background-color:  rgb(131, 8, 131);
    font-size: 30px;
    cursor: pointer;
    color:white;
    transition:0.5s;
}
.btn:hover{
    background-color:rgb(185, 37, 185) ;
}
span{
    color: rgb(131, 8, 131);
    font-style: italic;
    font-weight: bold;
}
h6{
    margin-left:38%;
    font-size: 15px;
    margin-top:18px;
    font-family: poppins,sans-serif;
}
.text{
    width:9%;
    height:50px;
    font-size: 30px;
    border-radius:10px;
    border-style: none;
    background-color: rgba(212, 172, 248, 0.863);
    text-align: center;
    margin-right:20px;
    margin-top:10px;
}
a{
    color:white;
     
}
.verify h6{
    color: 
    rgb(80, 76, 76);
    font-family: poppins,sans-serif;
    font-weight: bold;
}

.image{
    position:absolute;
    left:12%;
     top:15%;
     font-size:25px;
     color:white;
}
.image h3{
    margin-left:10%;
}
img{
    width:90%;
}
@media all and (max-width:375px){
    body{
        background: linear-gradient(
            to right,
            rgb(26, 3, 48) 50%,
             rgb(253, 251, 251) 50% 
        );
    }
    .ultra{
        color:white;
        margin-left: 25px;
        font-size:10px;
        margin-top:12px;
        font-family: poppins,sans-serif;
    }
    img{
        margin: top 15%;
        width:40%;
    }
    .image h3{
        margin-left:3%;
    }
    .image{
        position:absolute;
        left:6%;
         top:20%;
         font-size:8px;
         color:white;
    }
    .verify{
        position:absolute;
        left:55%;
        top: 10%;
    }
    .verify h1{
        color:black;
        font-size:12px;
        font-family: poppins,sans-serif;
    }
        
    .verify p{
        font-size:8px;
        font-family: poppins,sans-serif;
        color:rgb(107, 101, 101);
    }
    label{
        margin-top:30%;
        font-size:10px;
        display:block;
    }
    .text{
        width:10%;
        height:15px;
        font-size: 15px;
        border-radius:4px;
        border-style: none;
        background-color: rgba(212, 172, 248, 0.863);
        text-align: center;
        margin-right:3px;
        margin-top:5px;
    }
    .btn{
        margin-top:20%;
        width:87%;
        height:25px;
        border-style: none;
        border-radius: 9px;
        background-color:  rgb(26, 3, 48);
        font-size: 15px;
        cursor: pointer;
        color:white;
        transition:0.5s;
    }
    .btn:hover{
        background-color: blueviolet;
    }
    span{
        color: rgb(68, 19, 68);
        font-style: italic;
        font-weight: bold;
    }
    h6{
        margin-left:5%;
        font-size: 10px;
        margin-top:10px;
        font-family: poppins,sans-serif;
    }
}





